* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: helvetica;
    font-weight: 300;
    overflow-x: hidden;
    max-height: max-content;
}

body{
    overflow: hidden;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    flex-direction: column;
}

a,
button{
    display: inline-block;
    padding: 14px 30px; 
    letter-spacing: 1.2px;
    font-size: 14px;
    border: 1px #243342;
    border-radius: 7px;
    margin-right: 15px;
    transition: 0.2s ease-in-out;
}
a.focus,
button{
    color: white;
    background: #243342;
}
a.focus:hover,
button:hover{
	cursor: pointer;
   color: #1bf1dc;
}
a:hover {
    background-color: #243342;
    color: #16f1d7;
}

ul{
    list-style: none;
}

.map{
	position: absolute;
	width: 100%;
	height: 100%;
}
.map:after{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: linear-gradient(30deg, rgba(44, 100, 139, 0.8), rgba(195, 195, 195, 0.8));
}

.content{
	position: relative;
	height: calc(100vh - 50px);
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	padding: 20px;
}

.contact{
	width: 85%;
	max-width: 1080px;
	display: flex;
	box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.28);
    border-radius: 5px;
    overflow: hidden;
}

.other{
	width: 60%;
	background-image: url(https://images.unsplash.com/photo-1485119584289-30ca2b38c67e?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=);
	background-size: cover;
	background-position: center;
	position: relative;
	display: flex;
   flex-direction: column;
   justify-content: flex-end;
   overflow: hidden;
}

.other:before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: linear-gradient(45deg, rgb(36, 51, 66), rgba(36, 51, 66, 0.81));
}

.form{
	width: 40%;
	background-color: white;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	
}
.form h1{
	text-align: center;
	margin-bottom: 20px;
	width: 100%;
}
.form form{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
.flex-rev {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 10px;
	width: 100%;
}

.flex-rev input, .flex-rev textarea {
    border: none;
    background-color: #e6e6e6;
    padding: 12px 10px;
    font-size: 16px;
    resize: none;
    margin-top: 8px;
    margin-bottom: 16px;
    border-radius: 5px;
    color: #243342;
    outline-color: #243342;
    outline-width: thin;
}

.flex-rev textarea{
	height: 150px;
}

button{
	margin-right: 0;
}

.info {
    position: relative;
    padding: 20px;
}

.info h2 {
    color: #16f1dc;
    font-size: 34px;
}

.info h3 {
    color: white;
    letter-spacing: 1.2px;
    margin-top:  20px;
}

.svg-wrap {
    position: relative;
    display: flex;
    margin-top: 14px;
}

.svg-wrap a {
    border: 0;
    padding: 0;
    display: flex;
    color: #bbbbbb;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    font-style: italic;
}

.svg-wrap a svg {
    width: 20px;
    height: 20px;
    fill: white;
    transition: fill 0.2s ease-in-out;
    margin-right: 12px;
}

.svg-wrap a:hover svg {
    fill: #16f1dc;
    cursor: pointer;
}

.svg-wrap a:hover {
    background-color: transparent;
    color: #16f1dc;
    cursor: pointer;
}

@media screen and (max-width: 900px){
	.content{
		padding: 10px 0 0;
		display: block;
	}
	.map{
		display: none;
	}
	.contact{
		width: 100%;
		flex-direction: column-reverse;
		border-radius: 0;
		box-shadow: 0px 0px 0px 0px;
	}
	.other{
		width: 100%;
		padding: 20px 0;
	}
	.form{
		width: 100%;
	}
}

@media screen and (max-height: 660px){
	.content{
		align-items: flex-start;
	}
}

  header{
    position: relative;
    z-index: 1;
    top: 0;
    height: 55px;
    overflow: hidden;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 3rem;
    background-color: var(--secondary-text-color);
  }
  .logo a{
    margin: 0 1rem;
  }
  .logo a img{
    height: 50px;
  }
  .nav_list{
    display: flex;
    align-items: center;
  }
  .nav_item{
    margin: 0 10px;
  }
  .nav_link{
    padding: 10px 15px;
    color: #eee;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 700;
    border-radius: 5px;
    transition: all .5s ease;
  }
  .nav_link:hover{
    font-size: 1.5rem;
  }
  .header_toggle,.header_close{
    display: none;
  }
  @media screen and (max-width: 800px) {
    header{
        height: 60px;
        justify-content: space-between;
        padding: 0 28px;
    }
    .logo img{
        height: 40px;
    }
    .header_toggle{
        display: inline;
        color: #eee;
        font-size: 24px;
        cursor: pointer;
    }
    .header_close{
        position: absolute;
        right: 24px;
        display: block;
        font-size: 24px;
        border-radius: 50%;
        cursor: pointer;
    }
    .header_close:hover{
        background-color: #09aff4;
    }
    .nav{
        position: fixed;
        top: 0;
        right: -100%;
        background-color: var(--project-color-2);
        color: #eee;
        width: 50%;
        height: 100vh;
        padding: 24px 0;
        z-index: 100;
        transition: 0.5s;
        border-radius: 0 0 0 50%;
    }
    .nav_list{
        display: flex;
        flex-direction: column;
    }
    .nav_item{
        margin: 2rem 0;
    }
    .show{
        right: 0;
    }
  }
  
  :root{
    --primary-text-color: rgb(255, 255, 255);
    --secondary-text-color: #0f4c75;
    --project-color-1: #1b262c;
    --project-color-2: #0f4c75;
    --project-color-3: #3282b8;
    --project-color-4: #bbe1fa;
    --clr-dark-blue: #060922;
    --big-font:3rem;
    --h4-font:1.5rem;
    --p-font:1.2rem;
  }
  .footer{
    overflow: hidden;
    background-color: #24262b;
    width: 100%;
    height: auto;
    position: relative;
  }
  .foot-con{
    max-width: 85%;
    margin: auto;
    padding: 40px 0;
  }
  .row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .footer-col{
    width: 25%;
    min-width: 200px;
    padding-left: 10px;
  }
  .footer-col h4{
    color: #fff;
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 700;
    position: relative;
  }
  .footer-col h4::before{
    content: '';
    position: absolute;
    /* left: 0; */
    bottom: 0px;
    background-color: #e91e63;
    height: 3px;
    width: 50px;
  }
  .footer-col ul li a{
    font-size: 15px;
    color: #777;
    display: block;
    transition: all 0.3s ease;
  }
  .footer-col ul li a:hover{
    transform: translateX(10px);
    color: #eee;
  }
  .footer-col .social-links a{
    height: 50px;
    width: 50px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0px 8px 8px 0;
    padding: 3px 0;
    text-align: center;
    line-height: 40px;
    font-size: 25px;
    color: #fff;
    border-radius: 50%;
    transition: all 0.5s ease;
  }
  .footer-col .social-links a:hover{
    color: #777;
    background-color: #fff;
  }
  @media (max-width: 850px) {
    .footer-col{
        width: 25%;
        margin-bottom: 30px;
    }
  }
  @media (max-width: 450px) {
    .footer-col{
        width: 25%;
        margin-bottom: 30px;
    }
  }