@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Poppins',sans-serif;
}

.sec {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* margin: 0px 400px 0px 600px; */
  /* min-height: 100vh; */
  /* background: #bbe1fa; */
}

/* .signup{
  margin: 100px 0px 0px 0px;
  color: #fff;
  font-weight: 300;
} */

body{
  background-image: linear-gradient(to right, #3282b8,#a9d5f6);
  /* background-repeat: no-repeat; */
}

.head{
 margin: 100px 45px 15px 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 38px;
  font-weight: 600;
}

.separator {
  width: 180px;
  height: 4px;
  border-radius: 20px;
  background-color: #0f4c75;
  margin: 0px 50px 50px 65px;
  /* #843bc7 */
}

.btn {
  position: relative;
  width: 300px;
  height: 60px;
  background: rgba(15,76,117,1);
  border-radius: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255,255,255,0.65);
  text-decoration: none;
  letter-spacing: 2px;
  border-top: 0.5px solid rgba(187,225,250,0.35);
  border-left: 0.5px solid rgba(187,225,250,0.35);
  padding-left: 40px;
  transition: 0.5s;
  overflow: hidden;
}

ul{
  list-style: none;
}

.btn:hover {
  padding-left: 0px;
  padding-right: 40px;
  color: rgba(255,255,255,1);
}

.btn span {
  position: absolute;
  left: 5px;
  width: 50px;
  height: 50px;
  background: #bbe1fa;
  border-radius: 50%;
  transition: 0.5s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0f4c75;
  font-size: 1.5em;
}

.btn:hover span {
  left: calc(100% - 55px);
  /* background: rgba(50,130,184,1); */
}

.btn:after {
  content: '';
  position: absolute;
  width: 80px;
  height: 100%;
  z-index: 1;
  background: rgba(187,225,250,0.25);
  transform: translateX(-170px) skewX(30deg);
  transition: 0.6s ease-in-out;
}

.btn:hover:after {
  transform: translateX(170px) skewX(-30deg);
}

@media (max-width: 1080px) {

  .sec{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0px;
  }
}

header{
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 3rem;
  background-color: var(--secondary-text-color);
}
.logo a{
  margin: 0 1rem;
}
.logo a img{
  height: 50px;
}
.nav_list{
  display: flex;
  align-items: center;
}
.nav_item{
  margin: 0 10px;
}
.nav_link{
  padding: 10px 15px;
  color: #eee;
  font-size: 1.1rem;
  font-weight: 700;
  border-radius: 5px;
  transition: all .5s ease;
}
.nav_link:hover{
  font-size: 1.5rem;
}
.header_toggle,.header_close{
  display: none;
}
@media screen and (max-width: 800px) {
  header{
      height: 60px;
      justify-content: space-between;
      padding: 0 28px;
  }
  .logo img{
      height: 40px;
  }
  .header_toggle{
      display: inline;
      color: #eee;
      font-size: 24px;
      cursor: pointer;
  }
  .header_close{
      position: absolute;
      right: 24px;
      display: block;
      font-size: 24px;
      border-radius: 50%;
      cursor: pointer;
  }
  .header_close:hover{
      background-color: #09aff4;
  }
  .nav{
      position: fixed;
      top: 0;
      right: -100%;
      background-color: var(--project-color-2);
      color: #eee;
      width: 50%;
      height: 100vh;
      padding: 24px 0;
      z-index: 100;
      transition: 0.5s;
      border-radius: 0 0 0 50%;
  }
  .nav_list{
      display: flex;
      flex-direction: column;
  }
  .nav_item{
      margin: 2rem 0;
  }
  .show{
      right: 0;
  }
}

:root{
  --primary-text-color: rgb(255, 255, 255);
  --secondary-text-color: #0f4c75;
  --project-color-1: #1b262c;
  --project-color-2: #0f4c75;
  --project-color-3: #3282b8;
  --project-color-4: #bbe1fa;
  --clr-dark-blue: #060922;
  --big-font:3rem;
  --h4-font:1.5rem;
  --p-font:1.2rem;
}