a,
button {
  display: inline-block;
  padding: 14px 30px;
  letter-spacing: 1.2px;
  font-size: 14px;
  border: 1px #243342;
  border-radius: 7px;
  margin-right: 15px;
  transition: 0.2s ease-in-out;
}
a.focus,
button {
  color: white;
  background: #243342;
}
a.focus:hover,
button:hover {
  cursor: pointer;
  color: #1bf1dc;
}
a:hover {
  /* background-color: #243342; */
  color: #16f1d7;
}

ul {
  list-style: none;
}

.map {
  position: absolute;
  width: 100%;
  height: 100%;
}
.map:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    30deg,
    rgba(44, 100, 139, 0.8),
    rgba(195, 195, 195, 0.8)
  );
}

.content-cts {
  position: relative;
  height: calc(100vh - 50px);
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 20px;
}

.contact-cts {
  width: 85%;
  max-width: 1080px;
  display: flex;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.28);
  border-radius: 5px;
  overflow: hidden;
}

.other-cts {
  width: 60%;
  background-image: url(https://images.unsplash.com/photo-1485119584289-30ca2b38c67e?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=);
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
}

.other-cts:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(45deg, rgb(36, 51, 66), rgba(36, 51, 66, 0.81));
}

.form-cts {
  width: 40%;
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.form-cts h1 {
  text-align: center;
  margin-bottom: 20px;
  width: 100%;
}
.form-cts form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.flex-rev-cts {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 10px;
  width: 100%;
}

.flex-rev-cts input,
.flex-rev-cts textarea {
  border: none;
  background-color: #e6e6e6;
  padding: 12px 10px;
  font-size: 16px;
  resize: none;
  margin-top: 8px;
  margin-bottom: 16px;
  border-radius: 5px;
  color: #243342;
  outline-color: #243342;
  outline-width: thin;
}

.flex-rev-cts textarea {
  height: 150px;
}

button {
  margin-right: 0;
}

.info-cts {
  position: relative;
  padding: 20px;
}

.info-cts h2 {
  color: #16f1dc;
  font-size: 34px;
}

.info-cts h3 {
  color: white;
  letter-spacing: 1.2px;
  margin-top: 20px;
}

.svg-wrap-cts {
  position: relative;
  display: flex;
  margin-top: 14px;
}

.svg-wrap-cts a {
  border: 0;
  padding: 0;
  display: flex;
  color: #bbbbbb;
  font-size: 16px;
  justify-content: center;
  align-items: center;
  font-style: italic;
}

.svg-wrap-cts a svg {
  width: 25px;
  height: 25px;
  fill: white;
  transition: fill 0.2s ease-in-out;
  margin-right: 12px;
}

.svg-wrap-cts a:hover svg {
  fill: #16f1dc;
  cursor: pointer;
}

.svg-wrap-cts a:hover {
  background-color: transparent;
  color: #16f1dc;
  cursor: pointer;
}
/* ----  Responsiveness   ----  */
@media screen and (max-width: 900px) {
  .content-cts {
    padding: 10px 0 0;
    display: block;
  }
  .map {
    display: none;
  }
  .contact-cts {
    width: 100%;
    flex-direction: column-reverse;
    border-radius: 0;
    box-shadow: 0px;
  }
  .other-cts {
    width: 100%;
    padding: 20px 0;
  }
  .form-cts {
    width: 100%;
  }
}

@media screen and (max-height: 660px) {
  .content-cts {
    align-items: flex-start;
  }
}
