*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
:root{
    --primary-text-color: rgb(255, 255, 255);
    --secondary-text-color:#09aff4;
    --project-color-1: #1b262c;
    --project-color-2: #0f4c75;
    --project-color-3: #3282b8;
    --project-color-4: #bbe1fa;
    --clr-dark-blue: #060922;
    --big-font:3rem;
    --h4-font:1.5rem;
    --p-font:1.2rem;
}
body{
    font-family: 'Poppins',sans-serif;
    /* background-color: var(--clr-dark-blue);
    color: var(--primary-text-color); */
}