@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400&display=swap');
:root{
  --primary-text-color: rgb(255, 255, 255);
  --secondary-text-color:#09aff4;
  --project-color-1: #1b262c;
  --project-color-2: #0f4c75;
  --project-color-3: #3282b8;
  --project-color-4: #bbe1fa;
  --clr-dark-blue: #060922;
  --big-font:3rem;
  --h4-font:1.5rem;
  --p-font:1.2rem;
}

.about-body {
  font-family: 'Poppins',sans-serif;
  margin: 0px;
  margin-top: 10px;
  display: flex;
  /* background-color: var(--primary-text-color); */
}
.section{
  width: 100%;
  /* margin-bottom: 0px; */
  /* min-height: 120vh; */
  background-color: var(--clr-dark-blue);
  color: var(--primary-text-color);
  box-sizing: border-box;
  padding: 0px;
}
  
  .about-h2{
    padding-top: 60px;
  }
  
  .column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 10px 8px;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
    background-color: var(--project-color-3);
  }
  .card:focus, .card:hover{
    /* background-color: #f7f7f7; */
    opacity: 0.7;
    cursor: pointer;
}
  .container {
    padding: 0 16px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: var(--clr-dark-blue);
  }
/*   
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #555;
  } */
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
    /* .about-section{
      padding-top: 140px;
    } */
  }
  .bottom {
    padding: 70px;
    text-align: center;
    background-color: #1b262c;
    color: white;
  }
  .row{
    margin: 30px;
  }
  .row1{
    margin: 0px;
  }
  .about-img{
    border-radius: 50%;
    /* width: 100px; */
    height: 450px;
  }
  .about-h2{
    margin-top: 20px;
  }