/* footer */
.footer{
    background-color: #24262b;
    min-width: 200px;
    width: 100%;
    height: auto;
}
.foot-con{
    max-width: 85%;
    margin: auto;
    padding: 70px 0;
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer-col{
    width: 25%;
    padding-left: 50px;
}
.footer-col h4{
    color: #fff;
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 700;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    width: 50px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 15px;
    font-weight: 400;
    color: #777;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    transform: translateX(10px);
    color: #eee;
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    padding: 5px 0;
    text-align: center;
    line-height: 40px;
    font-size: 25px;
    color: #fff;
    border-radius: 50%;
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
    color: #777;
    background-color: #fff;
}
.svg-wrap {
    position: relative;
    display: flex;
    margin-top: 14px;
}

.svg-wrap a {
    border: 0;
    padding: 0;
    display: flex;
    color: #bbbbbb;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    font-style: italic;
}

.svg-wrap a svg {
    width: 25px;
    height: 25px;
    fill: white;
    transition: fill 0.2s ease-in-out;
    margin-right: 12px;
}

.svg-wrap a:hover svg {
    fill: #16f1dc;
    cursor: pointer;
}

.svg-wrap a:hover {
    background-color: transparent;
    color: #16f1dc;
    cursor: pointer;
}
@media (max-width: 850px) {
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}
@media (max-width: 450px) {
    .footer-col{
        width: 100%;
        margin-bottom: 40px;
    }
}
