@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; */
    /* background-color: #3282b8; */
    /* background-size: cover; */
/* } */
.body-gly{
    background-image: linear-gradient(115deg,var(--clr-dark-blue)60%,#8b33c5);
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* background-color: #3282b8; */
    background-size: cover;
}
.container-gly{
    color: var(--secondary-text-color);
    text-align: center;
    margin: 100px;
    width: auto;
}
.h-anime-gly{
    font-weight: bolder;
    font-size: 35px;
    position: relative;
    margin: 60px 0px;
}
.h-anime-gly::before{
    content: '';
    position: absolute;
    width: 100px;
    height:3px;
    background-color: crimson;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    animation: animate 4s ease-in-out infinite;
}
:root{
    --primary-text-color: rgb(255, 255, 255);
    --secondary-text-color:#09aff4;
    --project-color-1: #1b262c;
    --project-color-2: #0f4c75;
    --project-color-3: #3282b8;
    --project-color-4: #bbe1fa;
    --clr-dark-blue: #060922;
    --big-font:3rem;
    --h4-font:1.5rem;
    --p-font:1.2rem;
}
@keyframes animate{
    0%{
        width: 100px;
    }
    50%{
        width: 200px;
    }
    100%{
        width: 100px;
    }
}
.section-gly > li{
    /* opacity: 0.7; */
    transition: opacity 0.4s;
    list-style: none;
}
.section-gly > li:hover{
    opacity: 0.7;
}
.section-gly{
    padding: 20px;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 40px auto;
}
.section-gly > ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.section-gly > ul li{
    list-style: none;
    background-color: #eee;
    padding: 12px 20px;
    margin: 5px;
    letter-spacing: 1px;
    cursor: pointer;
    font-weight: bolder;
}
.section-gly > ul li.active{
    background-color: var(--project-color-3);
    color: white;
}
.Boys-gly{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0px 250px 0px 250px;
}
.Boys-gly .item-gly{
    position: relative;
    width: 250px;
    height: 250px;
    margin: 5px;
    display: block;
}
.Boys-gly .item-gly.hide-gly{
    display: none;
}
.Boys-gly .item-gly img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.h3-anime-gly{
    font-weight: bolder;
    font-size: 35px;
    text-align: center;
    /* max-height: 80px; */
    position: relative;
    margin: 60px 70px 0px 70px;
    color: var(--secondary-text-color);
    background-color: transparent;
    width: 100%;
    /* min-width: 800px; */
}
.seperator-gly{
    margin: 0px 400px 10px 400px;
    position: relative;
    align-items: center;
    content: "";
    width: 200px;
    height: 3px;
    /* left: 50%; */
    background-color: crimson;
    transform: translateX(-50%);
    /* transform: translate(-50%,50%); */
    transform: translateY(50%);
    animation: animate 4s ease-in-out infinite;
}
.Boys-gly .fun-gly{
    position: relative;
    width: 200px;
    height: 200px;
    margin: 5px;
    display: block;
}
.pic-gly{
    position: relative;
    height: 230px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px lightgray;
    cursor: pointer;
    transition: .5s;
}

.pic-gly img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: .5s;
}

.pic-gly::before{
    content:"";
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 22px;
    font-weight: bold;
    width: 100%;
    margin-top: -50px;
    opacity: 0;
    transition: .3s;
    transition-delay: .2s;
    z-index: 1;   
}
.pic1-gly::before{
    content: "Atharv Krishnarao Sawant";
}
.pic2-gly::before{
    content: "Atharva Lalit Dudhe";
}
.pic3-gly::before{
    content: "Aviral Katiyar";
}
.pic4-gly::before{
    content: "Ayush Gupta";
}
.pic5-gly::before{
    content: "Akhilender Bongirwar";
}
.pic6-gly::before{
    content: "Chitta Sri Naga Sankara Pavana Saketh Ram";
}
.fun-gly::before{
    content: "EQUINOX";
}
.pic-gly::after{
    content: "";
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    height: 0;
    background-color: rgba(0,0,0,.4);
    transition: .3s;
}
.pic-gly:hover::after{
    height: 100%;
}
.pic-gly:hover::before{
    margin-top: 0;
    opacity: 1;
}
.Boys-upper-gly{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
}
@media screen and (max-width: 900px) {
    .Boys-upper-gly{
        grid-template-columns: repeat(2, minmax(300px, 1fr));
    }
}