  form {
    --primary-text-color: rgb(255, 255, 255);
    --secondary-text-color:#09aff4;
    --project-color-1: #1b262c;
    --project-color-2: #0f4c75;
    --project-color-3: #3282b8;
    --project-color-4: #bbe1fa;
    --clr-dark-blue: #060922;
    --bg-light: #efefef;
    --bg-dark: #707070;
    --clr: #58BC82;
    --clr-alpha: #ded6d660;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 50%;
  }
  
  .form .input-span {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .5rem;
  }
  
  form input[type="email"],
  form input[type="name"],
  form input[type="text"],
  form select,
  form input[type="password"] {
    border-radius: 0.5rem;
    padding: 1rem 0.75rem;
    width: 100%;
    border: none;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: var(--clr-alpha);
    outline: 2px solid var(--project-color-2);
    color: var(--clr-dark-blue);
    font-weight: 400;
  }
  form input[type="text"]:focus{
    outline: 3px solid var(--secondary-text-color);
    color: var(--bg-light);
  }
  .label {
    align-self: flex-start;
    color: var(--secondary-text-color);
    font-weight: 600;
  }
  
  form .submit {
    padding: 1rem 0.75rem;
    width: 100%;
    gap: 0.5rem;
    border-radius: 3rem;
    background-color: var(--bg-dark);
    color: var(--bg-light);
    border: none;
    cursor: pointer;
    transition: all 300ms;
    font-weight: 600;
    font-size: .9rem;
    width: 80%;
    margin: auto;
  }
  
  form .submit:hover {
    background-color: var(--project-color-3);
    color: var(--bg-light);
  }
  
  .span {
    text-decoration: none;
    color: var(--bg-dark);
  }
  
  .span a {
    color: var(--project-color-2);
  }
  .span a:hover{
    color: var(--project-color-3);
  }