#bo{
    background-color: #6498ff;
    border: #282c34;
    padding: 30px;
    margin: 100px;
  
  }
  
  #img1{
    border: black solid ;
    height: 800px;
    width: 90%;
    margin-left: 50px;
  }
  
  #btn{
     margin-bottom: 50px;
     color:green;
     
  }
  
  #ro{ background-color: #6498ff;
    border: #282c34;
    padding: 30px;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 30px;
  }
  
  #bt1{
    margin-top: 10px;
    color: crimson;
  }