* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat',sans-serif;
    color: #fff;
}

.slg-body{
    margin: 100px 520px;
    display: flex;
    background-repeat: no-repeat;
    /* background: #bbe1fa; */
    background-image: linear-gradient(to right, #3282b8,#a9d5f6);
}

.T_login{
    color: lemonchiffon;
}
.T_login:hover{
    color: white;
}
.login-container {
    max-width: 450px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    text-transform: uppercase;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    letter-spacing: 5px;
    color: #2f4957;
}

.separator {
    width: 150px;
    height: 4px;
    background-color: #0f4c75;
    margin: 25px;
    /* #843bc7 */
}

.welcome-message {
    text-align: center;
    font-size: 1.1em;
    line-height: 28px;
    margin-bottom: 30px;
    color: #1b262c;
}

.login-form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form-control {
    width: 100%;
    position: relative;
    margin-bottom: 24px;
}

input,button {
    border: none;
    outline: none;
    color: #1b262c;
    border-radius: 30px;
    font-size: 18px;
}

input {
    width: 100%;
    background: #fff;
    color: #1b262c;
    letter-spacing: 0.5px;
    padding: 14px 70px;
    text-align: center;
}

input ~ i {
    position: absolute;
    left: 32px;
    top: 50%;
    transform: translateY(-50%);
    color: #bbe1fa;
    transition: color 0.4s;
}

input:focus ~ i {
    color: #843bc7;
}

.submit {
    color: #fff;
    padding: 14px 64px;
    margin: 32px auto;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    background-image: linear-gradient(to right, #8b33c5, #15a0e1);
    cursor: pointer;
    transition: opacity 0.4s;
}

.submit:hover {
    opacity: 0.7;
}

/* Assuming 'slng' is the CSS module object for the component */

/* Apply display: none; to hide the icons by default */
/* Assuming 'slng' is the CSS module object for the component */

/* Initially, set visibility: visible for the icons */
.icon {
    visibility: visible;
    left: 10%;
  }
  
  /* When the input field has a non-empty value, set visibility: hidden to hide the icon */
  .form-control input:not(:placeholder-shown) + .icon {
    visibility: hidden;
  }
  
  

/* ----  Responsiveness   ----  */
/* @media (max-width: 780px) {

    body {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .side {
        display: none;
    }
} */